<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993953354933-afad7lmpkgalno1uhojegf08pmtuiqif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993953354933-afad7lmpkgalno1uhojegf08pmtuiqif</string>
	<key>API_KEY</key>
	<string>AIzaSyAYocrCjEp1jlX53rt61EzlIKWOHZunHOI</string>
	<key>GCM_SENDER_ID</key>
	<string>993953354933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ordering.app1</string>
	<key>PROJECT_ID</key>
	<string>rn-business</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-business.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993953354933:ios:9bacfda41e9b8eb1151afc</string>
</dict>
</plist>